header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  max-width: 1100px;
  margin: auto;
  align-items: center;
}
header nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
a:hover {
  color: white;
  background-color: #234BFF;
  padding: 5px;
  border-radius: 10px;
}
a{
  padding: 5px;
}
header button {
  padding: 5px 20px;
  border: none;
  background-color: rgb(35, 75, 255);
  border-radius: 5px;
  color: white;
}
header .logo {
  color: rgb(35, 75, 255);
  font-weight: 700;
  font-size: large;
}
