<div class="min-h-screen flex justify-center items-center">
  <div class="flex flex-1 justify-center items-center p-8">
    <div class="w-full max-w-md ">

      <div class="text-center">
        <h1 class="text-5xl text-azul-texto font-extrabold mb-5">FordCare+</h1>
        <h3 class="text-3xl font-semibold mb-1">Bem-vindo de volta!</h3>
        <p class="font-semibold mb-8 text-gray-500">Entre com sua conta para continuar.</p>
      </div>

      <form action="" method="post" class="flex flex-col gap-2">
        <label for="usuario">Usuario</label>
        <input type="text" name="" id="usuario" placeholder="Digite seu nome" class="border-gray-600 border px-2 py-1 rounded-lg">
        <label for="Email">Email</label>
        <input type="email" name="" id="email" placeholder="E-mail" class="border-gray-600 border px-2 py-1 rounded-lg">
        <label for="senha">Senha</label>
        <input type="password" name="" id="senha" placeholder="••••••••" class="border-gray-600 border px-2 py-1 rounded-lg">
        <input type="password" name="" id="senhaConfirm" placeholder="Confirme sua senha" class="border-gray-600 border px-2 py-1 rounded-lg">
        <button type="submit" class="bg-azul-icon text-white p-2 rounded-xl">Criar</button>
      </form>
      <p>Já tem uma conta? <a href="login" class="text-azul-texto">Entrar</a></p>
    </div>
  </div>
</div>