<div class="min-h-screen flex justify-center items-center">
  <div class="flex flex-1 justify-center items-center p-8">
    <div class="w-full max-w-md ">

      <div class="text-center">
        <h1 class="text-5xl text-azul-texto font-extrabold mb-5">FordCare+</h1>
        <h3 class="text-3xl font-semibold mb-1">Bem-vindo de volta!</h3>
        <p class="font-semibold mb-8 text-gray-500">Entre com sua conta para continuar.</p>
      </div>

      <form action="" method="post" class="flex flex-col gap-2">
        <input type="email" name="" id="email" placeholder="E-mail" class="border-gray-600 border px-2 py-1 rounded-lg">
        <input type="password" name="" id="senha" placeholder="••••••••" class="border-gray-600 border px-2 py-1 rounded-lg">
        <a href="" class="left-0 text-azul-texto">Esqueceu sua senha?</a>
        <button type="submit" class="bg-azul-icon text-white p-2 rounded-xl">Entrar</button>
      </form>
      <p>Não tem uma conta? <a href="" class="text-azul-texto">Criar conta</a></p>
    </div>
  </div>
</div>

<!-- <div class="min-h-screen flex">
  <div class="flex-1 flex items-center justify-center p-8">
    <div class="w-full max-w-md space-y-8 animate-fade-in">
      <div class="text-center">
        <a href="/" class="inline-flex items-center gap-2 mb-8">
          <span class="text-2xl font-bold text-foreground">
            FordCare<span class="text-ford-blue-light">+</span>
          </span>
        </a>
        <h1 class="text-3xl font-bold text-foreground">Bem-vindo de volta</h1>
        <p class="text-muted-foreground mt-2">Entre com sua conta para continuar</p>
      </div>

      <form className="space-y-6">
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="email">
        </div>
        <div>
          <label for="password">Senha</label>
          <input type="password" name="senha" id="senha" placeholder="********">
        </div>
      </form>

      <p class="text-center text-sm text-muted-foreground">
        Não tem uma conta?
        <a href="#" class="font-medium text-primary hover:underline">Criar conta</a>
      </p>
    </div>
  </div>
</div> -->
