.apresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  /* background-color: bisque; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url('/BG_img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(0.4); */
}
.apresentation .text {
  text-align: center;
  width: 790px;
}
.apresentation .text h1 {
  color: rgb(35, 75, 255);
}
.apresentation .text h3 {
  color: white;
}
.apresentation button {
  padding: 10px 25px;
  border: none;
  background-color: rgb(35, 75, 255);
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  font-size: medium;
}
