.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa 100% da altura da viewport */
}
.content {
  flex: 1;
}

/* Container Principal */
.hero-section {
  position: relative; /* Necessário para segurar os elementos absolutos */
  height: 615px;
  width: 100%;
  overflow: hidden; /* Corta imagens que sobrarem */
}

/* Configuração do Carrossel de Fundo */
#bgCarousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Camada mais baixa */
}

/* Garante que a imagem cubra tudo sem esticar (Cover) */
.carousel-item img {
  height: 600px; /* Mesma altura do pai */
  object-fit: cover;
  width: 100%;
}

/* A Máscara Escura (Gradient) */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
  z-index: 2; /* Fica em cima da imagem */
  pointer-events: none; /* Deixa clicar no que estiver atrás se precisar */
}

/* O Seu Conteúdo (Texto e Botão) */
.content-container {
  position: relative;
  z-index: 3; /* Fica no topo de tudo */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container .text {
  text-align: center;
  width: 890px;
  max-width: 90%; /* Adicionei para não quebrar em telas menores */
}

.content-container .text h1 {
  color: rgb(35, 75, 255);
}

.content-container .text h3 {
  color: white;
  font-weight: 400; /* Ajuste fino opcional */
}

.content-container button {
  padding: 10px 25px;
  border: none;
  background-color: rgb(35, 75, 255);
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  font-size: medium;
  cursor: pointer;
  transition: transform 0.2s; /* Um charme extra */
}

.content-container button:hover {
  background-color: rgb(20, 50, 200); /* Efeito hover manual */
}

.infoView {
  /* background-color: burlywood; */
  border: 1px solid rgb(212, 212, 212);
  height: 300px;
  padding: 30px;
  width: 280px;
  border-radius: 5px;
}
.infoView:hover {
  border: 2px solid rgb(20, 50, 200);
}
.infoView h3 {
  margin-top: 10px;
  font-weight: 700;
  font-size: larger;
}
.infoView p {
  margin-top: 10px;
}

.passos {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 920px;
  display: flex;
  gap: 15px;
  padding: 15px 10px;
  align-items: center;
}
.passos:hover {
  border: 1px solid rgb(20, 50, 200);
}
.texto_passos h3 {
  font-size: larger;
  font-weight: 700;
}



@media (max-width: 640px) {
  section .passos {
    height: 300px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
  }

  section .infoView {
    margin: 0 auto;
    width: 90%;
    align-items: center;
  }
}
