<div class="page-wrapper">

  <app-header></app-header>

  <main class="content">

    <section class="hero-section">

      <div id="bgCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="3000">
            <img src="BG_img1.jpg" class="d-block w-100" alt="Fundo 1">
          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="BG_img2.jpg" class="d-block w-100" alt="Fundo 2">
          </div>

          <!-- Encontrar uma imagen melhor para essa div aqui -->
          <div class="carousel-item" data-bs-interval="3000">
            <img src="BG_img3.jpg" class="d-block w-100" alt="Fundo 3">
          </div>

        </div>
      </div>

      <div class="overlay"></div>

      <div class="content-container">
        <div class="text">
          <h1 class="text-5xl font-bold">Monitore o seu carro com facilidade!</h1>
          <h3 class="mt-2">
            Monitoramento inteligente e manutenção preventiva para manter seu veículo Ford <br> sempre em perfeito estado
          </h3>
        </div>
        <button>Entrar</button>
      </div>

    </section>

    <section class="mt-5 flex flex-col items-center justify-center">
      <h2 class="text-3xl text-azul-texto font-bold">FordCare+ está aqui para ajudar você!</h2>
      <p class="text-center">Ele foi desenvolvido para proprietários de Ford que desejam manter seu veículo em perfeitas <br>condições, mesmo sem os recursos de conectividade do FordPass.</p>

      <div class="mt-5 grid grid-cols-3 gap-10">
        <div class="infoView" data-aos="fade-up">
          <div class="img">
            <span class="material-symbols-outlined text-5xl text-azul-icon">
              sensors
            </span>
            <!-- <img src="" alt="Imagem"> -->
          </div>
          <div class="info_text">
            <h3 class="text-5xl">Monitoramento Manual Inteligente</h3>
            <p>Registre dados do seu veículo de forma simples e receba análises precisas sobre sua condição.</p>
          </div>
        </div>
        <div class="infoView" data-aos="fade-up">
          <div class="img">
            <span class="material-symbols-outlined text-5xl text-azul-icon">
              health_metrics
            </span>
            <!-- <img src="" alt="Imagem"> -->
          </div>
          <div class="info_text">
            <h3>Barra de Saúde do Veículo</h3>
            <p>Visualize em tempo real a saúde geral do seu Ford com nossa barra de status dinâmica.</p>
          </div>
        </div>
        <div class="infoView" data-aos="fade-up">
          <div class="img">
            <span class="material-symbols-outlined text-5xl text-azul-icon">
              reset_wrench
            </span>
            <!-- <img src="" alt="Imagem"> -->
          </div>
          <div class="info_text">
            <h3>Recomendações Personalizadas</h3>
            <p>Receba sugestões de manutenção baseadas no histórico e condição atual do seu veículo.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-5 flex flex-col justify-center ">
      <h2 class="flex justify-center text-3xl text-azul-texto font-bold">Como funciona?</h2>

      <div class="mt-5 grid grid-rows-4 gap-5 max-w-1100px m-auto">
        <div class="passos" data-aos="fade-right">
          <div class="icone">
            <img src="user-check.svg" alt="ICONE">
          </div>

          <div class="texto_passos">
            <h3>Cadastre-se</h3>
            <p>Crie sua conta em segundos</p>
          </div>
        </div>

        <div class="passos" data-aos="fade-left">
          <div class="icone">
            <img src="car.svg" alt="ICONE">
          </div>

          <div class="texto_passos">
            <h3>Registre seu veículo</h3>
            <p>Informe os dados básicos do seu Ford</p>
          </div>
        </div>

        <div class="passos" data-aos="fade-right">
          <div class="icone">
            <img src="toolbox.svg" alt="ICONE">
          </div>
          <div class="texto_passos">
            <h3>Faça inspeções regulares</h3>
            <p>Responda perguntas simples sobre seu veículo</p>
          </div>
        </div>

        <div class="passos" data-aos="fade-left">
          <div class="icone">
            <img src="exam.svg" alt="ICONE" class="text-azul-icon">
          </div>

          <div class="texto_passos">
            <h3>Receba Recomendações</h3>
            <p>Obtenha alertas e sugestões personalizadas</p>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-5 pb-5 mt-10 flex flex-col justify-center items-center bg-azul-icon h-96">
      <h2 class="flex justify-center text-3xl text-white font-bold">Começe agora a cuidar do seu veiculo!</h2>
      <button class="mt-5 text-white bg-blue-950 px-4 py-3 rounded">Cadastre-se!</button>
    </section>
  </main>

  <app-footer></app-footer>

</div>